/* Estilos gerais*/
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    font-family: "Roboto", arial, lucida;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    overflow-y: auto;
}

#header {
    align-items: center;
    background: #fff;
    width: 100%;
    margin: 0;
}

.row {
    margin: 0;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.nav {
    width: 100%;
    height: 100%;
}
.btn-top{
    width: 9rem;
}

.btn:hover {
    background: #2b7fce;
    color: #fff;
    border-color: #b10a79;
}

/* estilos nav bar*/

.logo {
    position: fixed;
    transition: all ease-in-out 1s;
    padding: 10px 15px;
    height: 50px;
    z-index: 9997;
    top: 0;
    left: 0;
}

@media (max-width: 300px) {

    .logo {
        display: none;
    }
}

.nav-menu a,
.nav-menu a:focus {
    font-size: 16px;
    color: grey;
    align-items: center;

}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: #b10a79;
    align-items: center;
}

#navbar-item .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* estilos section*/

#main {
    margin-top: 0px;
}

section#inicio {
    width: 100%;
    height: 100vh;
}

h2#mensagem {
    height: auto;
    text-align: center;
    text-decoration: none;
}

span#submensagem {

    color: #2b7fce;
    text-align: center;
    text-decoration: none;
}

.faixa {
    background-image: url("../img/background-faixa.jpg");
    position: right;
    margin: 0 auto;
    height: 75px;
}

.faixa i {
    color: black;
    size: 50px;
    height: 75px;
    align-items: center;
}

.faixa a i,
.faixa a:focus i {
    align-items: center;
    font-size: 25px;
    padding-right: 6rem;
}

.social-links a:hover {
    padding: 0;
    background: #b10a79;
    margin-right: 0;
    border-radius: 50%;
    transition: .3s;
    text-decoration: none;
}

.img-fluid {
    width: 100%;
    height: auto;
}

/* Estilos de Cards  */

.card {
    width: 18rem;
    height: 33rem;
    border-radius: 10px;
    box-shadow: 6px 4px 6px #000;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

#img-card {
    width: 100%;
    border-radius: 10px;
}

figure {
    height: 100%;
}

.texto-card {
    position: absolute;
    margin: 80% 10px 0 10px;
    text-align: center;
}

.card-text h3,
h5 {
    text-align: center;
    color: #b10a79;
}

.carousel-control-prev {
    margin-left: -4rem;
}

.carousel-control-next {
    margin-right: -4rem;
}

.carousel-indicators {
    margin-bottom: -15px;
}

h3,
h2,
h5 {
    text-align: center;
    color: #b10a79;
}

@media(min-width: 768px) and (max-width: 991px) {
    .texto-card {
        position: absolute;
        margin-top: 70%;
    }
}

/* Estilos tela de login*/

section#login {
    position: relative;
    margin-top: 25px;
    min-height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #2b7fce;
    align-items: center;
    justify-content: center;
}

.login-container {
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 14px 20px #444;
    overflow: hidden;
}

@media (max-width:768px) {
    .login-container {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.form-login {

    background: #fff;

}

.form {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 55px 0;
    transition: 1s;
}

.form-text-ligth {
    color: #fff;
}

.form-cadastro {
    transform: translateX(-100%);
    z-index: -1;
    opacity: 0;
}

.login-container.move .form-login {
    transform: translateX(100%);
}

.login-container.move .form-cadastro {
    transform: translateX(0);
    z-index: 1;
    opacity: 1;
}

@media (max-width:768px) {
    .form {
        width: 100%;
        justify-content: space-evenly;
    }

    .form-cadastro {
        position: absolute;
        transform: translateX(100);
    }

    .login-container.move .form-cadastro {
        transform: translateX(0%);
    }
}

.form-title-ligth {
    color: #fff
}

.form-social {
    display: flex;
    gap: 24px;
}

.social-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: #fff;
    box-shadow: 0 4px 4px #000;
}

.social-icon:hover {
    background-color: #000;
    transform: translatey(-15%);
    color: #fff;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    border-style: none;
    background-color: #e4e4e4;

}

.form-button {
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    border-color: #2b7fce;
    border-radius: 6px;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    font-display: flex;
    color: #b10a79;
    cursor: pointer;
}

.form-button:hover {
    background-color: #2b7fce;
    color: #fff;
}

.form-button-light {
    border: 1px solid #fff;
    color: #fff;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #b10a79;
    transform: translate(100%);
    z-index: 10;
    text-align: center;
    transition: 1s;
}

@media (max-width:768px) {
    .overlay-container {
        display: none;
    }
}

.login-container.move .overlay-container {
    transform: translate(0%);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;
    background-color: #b10a79;
    transition: 1s;
}

.login-container.move .overlay:nth-child(2) {
    z-index: -1;
    opacity: 0;
}

.mobile-text {
    display: none;
}

@media (max-width:768px) {
    .mobile-text {
        display: block;
    }

    .mobile-text a {
        font-weight: 900;
        color: inherit;
    }
}

/* Estilos da página de Cadastro Beneficiado - Doadores*/

section#cadastroBeneficiado {
    margin-top: 0;
    align-items: center;
    align-content: center;

}

.form#cadastro {
    margin: 0 auto;
    padding: 50px;
    border: none;
    margin-top: 500;
    display: block;
    position: relative;
    width: 750px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    transition: 1s;
}

@media (max-width:768px) {
    .form#cadastro {
        width: 100%;
        justify-content: space-evenly;
    }
}

@media(max-width:768px) {
    .form {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}

input,
select {
    border-radius: 10px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
}

input[type='submit'] {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
}

input[type='button'] {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 35px;
}

input[type='submit']:hover {
    background: #2b7fce;
    color: #fff;
}


/* Estilos do contato */


section#paginacontato {
    min-height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container#contato {
    padding: 2rem;
    width: 75%;
    height: auto;
    background: #e4e4e4;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    position: relative;
}

.left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #e4e4e4;
}

.left-side .details {
    margin: 14px;
    text-align: center;
}

.details p {
    font-size: 14px;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}


.content .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #b10a79;
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 0;
    border-radius: 6px;
    background: #2b7fce;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .container {
        width: auto;
        padding: auto;
    }

    .container .content .right-side {
        width: auto;
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .container {
        margin: auto;
        height: auto;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: auto;
        flex-direction: row;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: auto;
        margin-left: auto;
    }
}


/*botão enviar  - pagina de contato*/

.btn#btn-enviar {
    color: #b10a79;
    border-color: #2b7fce;

}

#btn-enviar:hover {
    background: #2b7fce;
    color: #fff;
}


/* Estilo de Footer*/

#footer {
    padding: 10px;
    z-index: 1000;
    transition: 0.5s;
    background-color: #e4e4e4;
}

#footer span {
    color: #b10a79;
}

@media(max-widht: 1000px) {
    #footer {
        position: static;
        width: auto;
    }

}

/* scroll ajustes */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.3rem #444;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #444;
}


::-webkit-scrollbar-thumb:hover {
    background: #b10a79;
}